.container {
text-align: center;
}
form {
display: flex;
flex-direction: column;
align-items: center;
}
label {
margin-bottom: 5px;
}
input, button {
margin-bottom: 10px;
}
#acceptTerms {
margin-right: 5px;
}
table {
border-collapse: collapse;
width: 100%;
}
button{
    background-color: #4CAF50;
}
table, th, td {
border: 1px solid #ddd;
padding: 8px;
}
th {
background-color: #1c541d;
color: white;
}
